.main-content{
  margin-bottom: 12px;
}

/*header of main-content start*/

.main-content__head{
  width: 100%;
  height: 354px;
  background: #f5f5f5 url('../img/bg/about-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.main-content__head--gray{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}

.main-content__header--about{
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.main-content__header{
  color:  #fff;
  font-family: "OpenSans-Bold";
  font-size: 49px;
  line-height: 1;
}

/*header of main-content end*/

/*history start*/

.main-content__history{
  width: 700px;
  margin-top: 23px;
}

.history{
  font-family: "OpenSans-Light";
  font-size: 		18px;
  line-height: 	1.6667;
  color: #221f1f;
}

.history p{
  padding-bottom: 15px;
}

.history b{
  font-family: "OpenSans-Bold";
}

.history li{
  padding-left: 45px;
  position: relative;
  padding-bottom: 6px;
}

.history li::before{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: #221f1f;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.history ul{
  margin-top: -10px;
}

/*history end*/

/*usp start*/

.main-content__usp{
  margin-top: 15px;
  width: 700px;
  padding: 12px 30px 10px 30px;
}

.usp{
  background: #131415;
  color: #fff;
  font-size: 	18px;
  line-height: 	1.6667;
}

.usp b{
  font-family: "OpenSans-Bold";
}

/*usp end*/

/*partners start*/

.main-content__partners{
  margin-top: 65px;
  width: 700px;
}

.partners__header{
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 49px;
  line-height: 1;    /* 38/49 not 38px/14px */
}

.partners__list{
  margin-top: 50px;
  margin-left: -88px;
}

.partners__items{
  display: inline-block;
  width: 161px;
  height: 100px;
  margin-left: 98px;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  margin-bottom: 15px;
}

.partners__link {
  display: inline-block;
  line-height: 80px;
}

.partners__logo {
  max-width: 100%;
  filter: grayscale(1);
  opacity: .5;
  transition: all .5s;
}

.partners__link:hover .partners__logo {
  filter: none;
  opacity: 1;
}

/*partners end*/