.main-content__way{
  margin-top: 46px;
}

.way{
  font-family: "OpenSans-LightItalic";
  font-size: 14px;
  color: #656464;
  line-height: 18px;
}

.way__page{
  display: inline-block;
}

.way__page--previous{
  text-decoration: underline;
  color: #f89513;
}

.way__page--previous::after{
  content: "/";
  color: #656464;
  display: inline-block;
  text-decoration: none;
  padding-left: 5px; 
}

.main-content__header{
  margin-top: 28px;
  font-family: "OpenSans-Bold";
  font-size: 49px;
  line-height: 38px;
}

.main-content__feed{
  margin-top: 50px;
  width: 100%;
}

.feed__item{
  width: 100%;
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 30px;
}

.feed__item:last-child{
  border-bottom: none;
}

.feed__avatar{
  width: 160px;
  height: 160px;
  border-radius: 160px;
  background: #f5f5f5;;
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
}

.avatar-pic{
  max-width: 100%;
}

.feed__comment{
  width: 700px;
  float: right;
  margin-left: 19px;
  margin-bottom: 26px;
}

.comment__date{
  color: #656464;
  font-size: 14px;
  line-height: 21px;
}

.comment__name{
  margin-top: 10px;
  color: #221f1f;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 21px;
}

.comment__content{
  margin-top: 10px;
  color: #221f1f;
  font-size: 18px;
  line-height: 30px;
}

.main-content__pagination{
  margin: 0 auto;
  width: 60%;
}

.pagination__title, .pagination__arrow,
.pagination__pages, .pagination__page-number{
  display: inline-block;
}

.pagination__title{
  font-size: 14px;
  line-height: 21px;
  color:  #656464;
}

.pagination__page-number{
  color:  #221f1f;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 25px;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.pagination__page-number--active{
  background-color:  #131415;
  color:  #f89513;
}

.pagination__arrow{
  width: 6px;
  height: 10px;
  margin: 0 15px;
  background: url('../img/icons/arrow.png') no-repeat;
}

.pagination__arrow--left{
  transform: rotate(180deg);
  opacity: 0.3;
}

.main-content__form{
  margin-top: 70px;
  margin-bottom: 70px;
}

.form{
  border-radius: 3px;
  background-color:  #f5f5f5;
  width: 700px;
  min-height: 427px;
  color: #221f1f;
  font-size: 14px;
  line-height: 20px;
}

.form__container{
  width: 100%;
  padding: 50px 70px;
}

.form__header{
  font-family: "OpenSans-Bold";
  font-size: 49px;
  line-height: 38px;
}

.form__text-field, .form__photo,
.form__button{
  display: block;
}

.name-field__input, .text-field__input,
.vk-field__input{
  border-radius: 3px;
  background-color:  #ffffff;
  border: 1px solid #fff;
}

.name-field__input:focus, .text-field__input:focus,
.vk-field__input:focus{
  border: 1px solid #f89513;
  outline: none;
}

.form__name-field{
  margin-top: 29px;
  float: left;
  display: inline-block;
}

.name-field__input{
  margin-top: 5px;
  padding: 10px 15px;
  width: 269px;
  height: 45px;
}

.form__vk-field{
  margin-top: 29px;
  float: right;
  display: inline-block;
}

.vk-field__input{
  width: 269px;
  height: 45px;
  padding: 10px 15px;
  margin-top: 5px;
}

.form__text-field{
  margin-top: 21px;
}

.text-field__input{
  width: 559px;
  height: 88px;
  padding: 10px;
  resize: none;
  margin-top: 5px;
}

.form__bottom{
  margin-top: 20px;
}

.form__photo{
  float: left;
}

.photo-radio__container{
  display: inline-block;
}

.photo-radio__container:last-child{
  margin-left: 20px;
}

.photo-radio__input{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  width: 18px;
  height: 18px;
  transition: all .2s;
}

.photo-radio__description{
  transition: all .2s;
}

#yes:checked ~ .photo-radio__description, 
#no:checked ~ .photo-radio__description{
  color: #f89513;
}

#yes:checked ~ .photo-radio__input,
#no:checked ~ .photo-radio__input{
  border-color: #f89513;
}

#yes:checked ~ .photo-radio__input::before,
#no:checked ~ .photo-radio__input::before{
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f89513;
}


.form__button{
  float: right;
}

.button{
  border-radius: 3px;
  background-color:  #1c1f1d;
  width: 125px;
  height: 45px;
  color: #fff;
  font-size: 12px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  line-height: 45px;
  text-align: center;
}

.button:active{
  color: #f89513;
}

#button, #yes, #no{
  display: none;
}

::-webkit-input-placeholder {color:rgba(34,31,31,.5);}
::-moz-placeholder          {color:rgba(34,31,31,.5;}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(34,31,31,.5;}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(34,31,31,.5;}