.intro{
    width: 100%;
    height: 100%;
    background: url(../img/bg/index-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.intro_gray{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.intro__container{
    height: 277px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 277px/2);
    overflow: hidden;
}

/*logo start*/

.intro__logo{
    margin: 0 auto;
}

.logo{
    display: block;
    width: 160px;
    height: 193px;
    overflow: hidden;
}

.logo__pic{
    max-width: 100%;
}

/*logo end*/

/*button start*/

.intro__button{
    margin: 39px auto;
}

.button{
    display: block;
    width: 172px;
    height: 45px;
    border-radius: 3px;
    background-color: #f89513;
    color: rgb(255, 255, 255);
    font-family: "OpenSans-Bold";
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button:hover{
    background-color: rgb(19, 20, 21);
}

/*button end*/