@font-face{
  font-family: "GoraFree-Regular";
  src: url('../fonts/GoraFree-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "OpenSans-Bold";
  src: url('../fonts/opensans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "OpenSans-Light";
  src: url('../fonts/opensans-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "OpenSans-LightItalic";
  src: url('../fonts/OpenSansLight-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*common start*/
html{
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}
body{
  position: relative;
  background: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  height: 100%;  
  min-height: 100%;
  font-size: 14px;
  font-family: "OpenSans-Light", Arial, Helvetica, sans-serif;
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style: none;
}
h1, h2{
  margin: 0;
}
a{
  text-decoration: none;
}
p{
  padding: 0;
  margin: 0;
}
*, *::before, *::after{
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
/*common end*/

/*footer start*/
.wrapper{
min-height: 100%;
overflow: hidden;
position: relative;
}

.empty{
  height: 76px;
}

.footer{
  height: 76px;
  width: 100%;
  background: #131415;
  margin-top: -76px;
  position: relative;
}

.container{
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__left{
  float: left;
  width: 40%;
  padding-top: 14px;
}

.footer__logo{
  float: left;
  width: 20%;
  padding-top: 29px;
  text-align: center;
}

.footer__right{
  float: right;
  width: 40%;
  padding-top: 20px;
  text-align: right;
}

.copyright{
  font-family: "OpenSans-Light";
  color: #fff;
  font-size: 14px;
  white-space: pre-line;
  line-height: 18px;
}

.copyright__loft{
  text-decoration: underline;
  font-family: "OpenSans-Bold";
}

.copyright__name{
  font-family: "OpenSans-Bold";
}

.text-logo{
  display: block;
  text-transform: uppercase;
  font-family: "GoraFree-Regular";
  color: #f89513;
  font-size: 18px;
}

.socials__title{
  font-family: "OpenSans-Bold";
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.socials__item{
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

.socials__item{
  margin-right: 10px;
}


.socials__link{
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../img/icons/sprite-icons.png');
  background-repeat: no-repeat;
}

.socials__link--vk{
  background-position: -709px -15px;
}

.socials__link--vk:hover{
  background-position: -759px -15px;
}

.socials__link--fb{
  background-position: -15px -15px;
}

.socials__link--fb:hover{
  background-position: -65px -15px;
}

.socials__link--google{
  background-position: -213px -15px;
}

.socials__link--google:hover{
  background-position: -263px -15px;
}

.socials__link--twitter{
  background-position: -609px -15px;
}

.socials__link--twitter:hover{
  background-position: -659px -15px;
}

.socials__link--mail{
  background-position: -313px -15px;
}

.socials__link--mail:hover{
  background-position: -363px -15px;
}

/*footer end*/

/*header start*/

.header{
  height: 76px;
  width: 100%;
  background: #131415;
  position: relative;
}

.header__left{
  float: left;
  width: 50%;
  text-align: left;
  margin-top: 30px;
}

.header__right{
  float: right;
  width: 50%;
  text-align: right;
  margin-top: 21px;
}

.phone{
  font-family: "OpenSans-Bold";
  color: #fff;
  font-size: 21px;
}

.popup__top{
  font-family: "OpenSans-Bold";
  font-size: 14px;
  text-decoration: underline;
  color: #f89513;
  line-height: 18px;
  cursor: pointer;
  transition: all .3s;
}

.popup__top:hover{
  color: #fff;
}

/*header end*/

/*navigation start*/

.sidebar{
  width: 16%;
  float: left;
}

.navigation__menu{
  margin-top: 50px;
}

.navigation__item{
  position: relative;
  margin-bottom: 40px;
  padding-left: 37px;
}

.navigation__link::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/icons/sprite-icons.png'); 
}

.navigation__link--about::before{
  width: 19px;
  height: 14px;
  background-position: -413px -15px;
}

.navigation__link--services::before{
  width: 19px;
  height: 14px;
  background-position: -511px -15px;
}

.navigation__link--comments::before{
  width: 19px;
  height: 19px;
  background-position: -115px -15px;
}

.navigation__link{
  display: block;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 12px;
  color: #f89513;
  transition: color .1s;
}

.navigation__item--active .navigation__link,
.navigation__item:hover .navigation__link{
  color: #221f1f;
}

.navigation__item--active .navigation__link--about::before,
.navigation__item:hover .navigation__link--about::before{
  background-position: -462px -15px;
}

.navigation__item--active .navigation__link--services::before,
.navigation__item:hover .navigation__link--services::before{
  background-position: -560px -15px;
}

.navigation__item--active .navigation__link--comments::before,
.navigation__item:hover .navigation__link--comments::before{
  background-position: -164px -15px;
}

/*navigation end*/

.main-content{
  width: 83%;
  float: right;
}