html{
  font-size: 14px;
}

body{
  @include content-font;
  font-size: rem(14px);
  line-height: 1.42;
  background-color: $bg-body;
  color: $main-font-color;
  border-top: rem(20px) $accent-color solid;
}

.wrapper{
  position: relative;
  width: 95%;
  max-width: 1000px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 rem(20px);
}

.content{
  padding-bottom: rem($footer-height);
}