.feedback{
  background-color: $primary-dark;
}

.feedback__wrapper, .feedback__list{
  width: 100%;
  height: 100%;
}

.feedback__list{
  font-size: 0;
}

.feedback__item{
  display: inline-block;
  position: relative;

  height: 50%;
  width: 25%;
}

.feedback__link{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.feedback__avatar{
  object-fit: cover;

  min-width: 100%;
  min-height: 100%;
  
  filter: grayscale(1);
}

.feedback__popup{
  position: absolute;
  left: -1000000;
  top: 0;

  padding: 50px 20px;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: rgba(20,20,20,.7);
  font-size: 14px;
  color: $primary-light;

  opacity: 0;
  transition: opacity .5s;
}

.feedback__name{
  font-family: "Gagalin";
  font-weight: 400;
}

.feedback__description{
  margin-top: 30px;
}

.feedback__button{
  margin-top: 15px;
  display: inline-block;

  @include button;

  background-color: $primary-dark;

    &:hover{
      background-color: $secondary-dark;
    }  
}

.feedback__item{
  &:hover{
    .feedback__popup{
      left: 0;
      opacity: 1;
    }
  }
}