.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  max-width: 150px;
  height: 100%;
}

.logo__pic{
  @include image();
}

.menu__item{
  display: inline-block;

  position: relative;
  padding: 12px 15px 13px 17.5px;
  &::before{
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);

    width: 4px;
    height: 4px;

    border-radius: 50%;
    background: white;
  }

}

.menu__item{
  &:first-child, &:last-child{
    &::before{
      background: transparent;
    }
  }
  &:last-child{
    padding-left: 0;
  }
}

.menu__link{
  text-transform: uppercase;
  color: $menu-color;
}

.menu__button{
  @include button;
}