.hello{
  background-color: $primary-dark;
}

.hello__wrapper{
  padding: 10px 80px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hello__header{
  flex-grow: 0;
  flex-shrink: 0;
}

.hello__main-content{
  width: 100%;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hello__half{
  width: 50%;
}

.img{
  @include image;
}

.hello__heading{
  @include h1($primary-brand);
  line-height: 1.6;
}

.hello__second-heading{
  @include h2();
  line-height: 1;
}

.hello__scroll{
  width: 100%;
  padding-bottom: 30px;
  text-align: center;

  flex-grow: 0;
  flex-shrink: 0;
}

.arrow{
  display: inline-block;
  @include arrow(45);
}