//Fonts
$brand-font: 'PTSerif';
$content-font: 'OpenSans';

//Colors
$main-light: #ffffff;
$secondary-light: #999999;
$dark: #000000;

$bg-body: $dark;
$bg-content: #1b1b1b;
$separate-color: #333333;
$accent-color: #d24260;
$main-font-color: $main-light;
$second-font-color: $secondary-light;

//Sizes
$header-height: 210px;
$footer-height: 80px;