body{
  margin-bottom: $footer-height;
}

.footer{
  position: absolute;
  bottom: 0;

  height: $footer-height;
  width: inherit;
  
  background-color: $footer-bg;
  color: $footer-color;
}

.footer__col{
  float: left;
  width: 33.3%;
  height: $footer-height;
}

.footer__col--left, .footer__col--right{
  padding-top: $footer-padding-top;
}

.footer__col--middle{
  position: relative;
}

.copyright{
  white-space: pre-line;
}

.copyright__school{
  color: inherit;
  font-weight: $bold;
  text-decoration: underline;
}

.copyright__author{
  font-weight: $bold;
}

.logo{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo__pic{
  @include pics;
  
}

.footer__col--right{
  text-align: right;
}

.social{
  display: inline-block;

  text-align: left;
}

.social__list{
  margin-left: -10px;
  margin-top: 5px;
}

.social__title{
  font-size:  $h2-size;
}

.social__item{
  @include truncate();

  display: inline-block;

  margin-left: 10px;

  width: 20px;
  height: 20px;

}

.social__link{
  display: block;

  width: 100%;
  height: 100%;
  
  background-image: url('../img/icons/spritesheet.png');
  background-repeat: no-repeat;

  @include transition(opacity);
  opacity: .8;
    &:hover{
      opacity: 1;
    }
}

.social__link--vk{
  background-position: -609px -15px;
}
.social__link--fb{
  background-position: -105px -15px;
}
.social__link--google{
  background-position: -257px -15px;
}
.social__link--tw{
  background-position: -559px -15px;
}
.social__link--mail{
  background-position: -307px -15px;
}