.header{
  height: $header-height;

  background-color: $header-bg;
  color: $header-color;
}

.header__col{
  float: left;
  width: 50%;
  height: $header-height;
}

.header__col--left{
  position: relative;
}

.header__logo{
  left: 0;
  transform: translate(0, -50%);
}

.header__col--right{
  text-align: right;
  padding-top: $header-padding-top;
}

.phone{
  color: inherit;

  font-size: 1.5rem;
  font-weight: $bold;
}

.popup__top{
  text-decoration: underline;
  font-weight: $bold;

  cursor: pointer;

  @include transition(opacity);
  opacity: .8;
    &:hover{
      opacity: 1;
    }
}