@mixin text ($size:null, $line-height:null, $weight:null, $color:null){
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
}

@mixin content-margin(){
  margin: 0 $content-margin;
}

@mixin pics(){
  max-width: 100%;
}

@mixin truncate() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent: 100%;
}

@mixin spacing{
  letter-spacing: $spacing;
}

@mixin transition($criteria){
  transition: $criteria .3s;
}