//sizes
$min-height: 650px;

//colors
$primary-light: #ffffff;
$primary-brand: #f9b43b;
$primary-dark: #2f3234;
$secondary-brand: #e45028;
$thirdly-brand: #e35028;

//fonts
$base-font: 14px;
$h1-size: 71.73px;