//sizes
$min-height: 650px;

//colors
$primary-light: #ffffff;
$primary-brand: #f9b43b;
$primary-dark: #2f3234;
$secondary-brand: #e45028;
$thirdly-brand: #e35028;
$fourthly-brand: #c1401e;


$menu-color: $primary-light;
$button-bg: $secondary-brand;
$button-color: $primary-light;
$button-hover: $fourthly-brand;

$h2-color: $primary-light;

$arrow-color: $primary-light;

//fonts
$base-font: 14px;
$h1-size: 72px;
$h2-size: 65px;